<div class="container">

<div class="row">

<div class="col-md">
<h1 class="title-h2">Registro de Fincas</h1>
</div><!--div col-->

<div class="col-sm-2 my-4">

<a mat-raised-button routerLink="/app-add"><mat-icon>add_circle_outline</mat-icon>Añadir</a>
</div><!--div col-->

</div><!--div row-->

  <div class="row" >
    <div class="col-sm-3 my-4" *ngFor= "let farm of farmsList$|async">
      <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><h2 class="farm-title">{{ farm.name}}</h2></mat-card-title>
          </mat-card-header>
        
        <img mat-card-image src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/12/vacas-smartwatch-futuro-granjas-inteligentes-2890180.jpg?tf=3840x" alt="Photo of a Shiba Inu">
        
        <div class="col-sm">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            
          </p>
        </mat-card-content>
        </div>

        <mat-card-actions>
          <div class="col-sm-8">
          <button mat-button><mat-icon>visibility</mat-icon>Ver</button>
          <button mat-button><mat-icon>create</mat-icon>Editar</button>
          <button mat-button><mat-icon>delete_sweep</mat-icon>Eliminar</button>
        </div>
        </mat-card-actions>
      </mat-card>
    </div><!--row-->
  </div> <!--div class col-md-3-->
</div> <!--Container-->